<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/logo.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="icon" href="img/logo.png">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/styles.css" rel="stylesheet">
</head>
  
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">
                <img height="20" alt="Brand"  style="display: inline-block"src="img/logo.png">
                &nbsp;OctoCare
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sydney Miller <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                    <li>
                        <a href="#">Profile</a>
                    </li>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">FAQ</a>
                    </li>
                    <li>
                        <a href="#">Settings</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="#">Log out</a>
                    </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid bg-pattern">
    <div class="section" style="margin-top: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                <h1 class="text-center">Users</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="background: white; margin-bottom: 100px;">
        <div class="section">
            <div class="">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb" style="margin-top: 16px;">
                        <li>
                        <a href="#">Octocare Home</a>
                        </li>
                        <li>
                        <a href="#">Dashboard</a>
                        </li>
                        <li class="active">Users</li>
                    </ul>
                </div>
                </div>
                <div class="row mx-1">
                    <div class="col-md-12 well">
                    <a class="btn btn-primary pull-right" data-toggle="modal" data-target="#usuario"><i class="fa fa-fw -square -circle fa-plus-square"></i> Create User</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover table-striped">
                            <thead> 
                                <tr> 
                                    <th>Status</th> 
                                    <th>Activity</th> 
                                    <th>Name</th> 
                                    <th>Last Active</th>
                                    <th>Detail</th>
                                </tr> 
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <span class="dot green">
                                            <i class="fas fa-2x fa-check-square"></i>
                                        </span>
                                    </td>
                                    <td class="">
                                        <p>Active</p>
                                        <a href="#">
                                            <i class="fas fa-2x fa-user-alt"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <h4>
                                            <b>Crystal Reece</b>
                                        </h4>
                                        <a href="mailto:ramonvillaw@gmail.com">crystalreece1004@gmail.com</a>
                                    </td>
                                    <td>
                                        <p>Today</p>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button class="btn btn-default p-4" value="left" type="button">
                                            <i class="fas fa-history"></i> History</button>
                                            <button class="btn btn-default p-4" value="right" type="button">
                                            <i class="fas fa-user-md"></i> Information</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target=".bs-example-modal-lg">
                                            <span class="dot kaidan yellow">
                                                <!-- <i class="fas fa-2x fa-check-square"></i> -->
                                                <!-- <i class="fas fa-2x fa-square"></i> -->
                                            </span>
                                        </a>
                                    </td>
                                    <td class="">
                                        <p>Active</p>
                                        <a href="#">
                                            <i class="fas fa-2x fa-user-alt"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <h4>
                                            <b>Kaidan Miller</b>
                                        </h4>
                                        <a href="">kaidanmiller@mail.com</a>
                                    </td>
                                    <td class="">
                                        <p>Today</p>
                                    </td>
                                    <td>
                                    <div class="btn-group">
                                        <button class="btn btn-default p-4" value="left" type="button">
                                        <i class="fas fa-history"></i> History</button>
                                        <button class="btn btn-default p-4" value="right" type="button">
                                        <i class="fas fa-user-md"></i> Information</button>
                                    </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="dot green">
                                            <i class="fas fa-2x fa-check-square"></i>
                                            <!-- <i class="fas fa-2x fa-square"></i> -->
                                        </span>
                                    </td>
                                    <td class="">
                                        <p>Active</p>
                                        <a href="#">
                                            <i class="fas fa-2x fa-user-alt"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <h4>
                                            <b>Krystian Webster</b>
                                        </h4>
                                        <a href="">kwebster@yahoo.com</a>
                                    </td>
                                    <td class="">
                                        <p>Today</p>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button class="btn btn-default p-4" value="left" type="button">
                                            <i class="fas fa-history"></i> History</button>
                                            <button class="btn btn-default p-4" value="right" type="button">
                                            <i class="fas fa-user-md"></i> Information</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="dot red">
                                            <!-- <i class="fas fa-2x fa-check-square"></i> -->
                                            <!-- <i class="fa fa-2x fa-square"></i> -->
                                        </span>
                                    </td>
                                    <td class="">
                                        <p>Active</p>
                                        <a href="#">
                                            <i class="fas fa-2x fa-user-slash"></i>
                                        </a>
                                    </td>
                                    <td>
                                    <h4>
                                        <b>Jakob Porter</b>
                                    </h4>
                                        <a href="mailto: jakob-porter@gmail.com"> jakob-porter@gmail.com</a>
                                    </td>
                                    <td class="">
                                        <p>4 days ago</p>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button class="btn btn-default p-4" value="left" type="button">
                                                <i class="fas fa-history"></i> History
                                            </button>

                                            <button class="btn btn-default p-4" value="right" type="button">
                                                <i class="fas fa-user-md"></i> Information
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fade modal" id="usuario">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title" id="myModalLabel">New User</h2>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <fieldset>
                    <!-- Form Name -->
                    <!-- Prepended text-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="prependedtext">User</label>
                        <div class="col-md-5">
                            <div class="input-group">
                                <span class="input-group-addon">@</span>
                                <input id="prependedtext" name="prependedtext" class="form-control" placeholder="Username" type="text" required="">
                            </div>
                        </div>
                    </div>
                    <!-- Prepended text-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="nombre">Name</label>
                        <div class="col-md-5">
                            <div class="input-group">
                                <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                                </span>
                                <input id="name" name="name" class="form-control" placeholder="Complete Name" type="text" required="">
                            </div>
                        </div>
                    </div>
                    <!-- Appended Input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="email">e-mail</label>
                        <div class="col-md-5">
                            <div class="input-group">
                                <input id="email" name="email" class="form-control" placeholder="e-mail" type="email" required="">
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="departamento">Department</label>
                        <div class="col-md-5">
                            <select id="departamento" name="departamento" class="form-control">
                                <option value="1">Systems</option>
                                <option value="2">Systems</option>
                                <option value="3">Systems</option>
                                <option value="4">Systems</option>
                                <option value="5">Systems</option>
                            </select>
                        </div>
                    </div>
                    <!-- File Button -->
                    <!-- Password input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="password">Extra Notes</label>
                        <div class="col-md-5">
                            <input id="password" name="password" type="password" placeholder="Additional Information" class="form-control input-md" required="">
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-fw fa-save"></i>Save
                        </button>
                    </div>
                    <!-- Button -->
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<footer class="footer-divider my-5 py-5">
    <div class="container">
        <p class="pull-right">
            <a href="#">
                <!-- <img style="max-width:35px; color: black;" class="navbar-left pb-2" src="img/logo.png"> -->
                Back to top
            </a>
        </p>
        <span class="d-block strong">
            <img style="max-width:35px; color: black;" class="navbar-left pb-2" src="img/logo.png">
            <strong>Stock-o-matic</strong>
        </span>
        © 2018 · All Rights Reserved.
        <span class="d-block">
            <a href="#">Privacy</a> · <a href="#">Terms</a>
        </span>
    </div>
</footer>

<!-- modal -->
<!-- <a type="button" class="" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</a> -->
  
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      
    <div class="modal-dialog modal-lg" role="document"> 
        <div class="modal-content"> 
            <div class="modal-header"> 
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button> 
                <h4 class="modal-title" id="myLargeModalLabel">Kaidan Miller</h4> 
            </div> 
            <div class="modal-body text-center"> 
                <h3>Care Circle</h3>
            
                <div>
                    <span class="dot green" data-toggle="tooltip" data-placement="top" title="Grace Park">
                        <!-- <i class="fas fa-2x fa-check-square"></i> -->
                        <!-- <i class="fas fa-2x fa-square"></i> -->
                    </span>
                    <span class="dot green" data-toggle="tooltip" data-placement="top" title="Brandon Miller">
                        <!-- <i class="fas fa-2x fa-check-square"></i> -->
                    </span>
                    <span class="dot sydney grey" data-toggle="tooltip" data-placement="top" title="Sydney Miller">
                        <!-- <i class="fas fa-2x hidden fa-check-square"></i> -->
                    </span>
                    <span class="dot grey" data-toggle="tooltip" data-placement="top" title="Sergio Murillo">
                        <i class="fas fa-2x hidden fa-check-square"></i>
                    </span>
                    <span class="dot grey" data-toggle="tooltip" data-placement="top" title="Tiffany Charles">
                        <i class="fas fa-2x hidden fa-check-square"></i>
                    </span>
                    <span class="dot grey" data-toggle="tooltip" data-placement="top" title="Dakota Miller">
                        <i class="fas fa-2x hidden fa-check-square"></i>
                    </span>
                </div>
                
                <hr>

                <div>
                    <h4>Description of Incident:</h4>
                    <p>Unusual activity from fitness tracker</p>
                </div>

                <hr>

                <div class="input-group mx-auto" style="width:50%">
                    <input type="text" class="form-control" aria-describedby="basic-addon2" placeholder="Keep up the great work!">
                    <span style="cursor:pointer;" class="input-group-addon" id="basic-addon2">send affirmation</span>
                </div>

                <hr>
                
                <div>
                    <button class="btn btn-primary">Request Picture</button>
                    <button class="btn btn-info"><a style="color:white; text-decoration: none;" href="https://octocare.herokuapp.com/video">Request Video Chat</a></button>
                </div>
                
                <hr>
                
                <canvas class="my-4" id="myChart" width="900" height="300"></canvas>

                <div>
                    <button class="btn btn-primary" type="button" class="close" data-dismiss="modal" aria-label="Close" style="background:green">Accept</button>
                    <button class="btn escalate btn-danger" type="button">Escalate</button>
                </div>
            </div> 
        </div> 
    </div> 
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Graphs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="js/app2.js"></script>
<script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
        labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
        datasets: [{
            data: [10, 11, 15, 11, 10, 11, 12],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 5,
            pointBackgroundColor: '#007bff'
        }]
        },
        options: {
        scales: {
            yAxes: [{
            ticks: {
                beginAtZero: false
            }
            }]
        },
        legend: {
            display: false,
        }
        }
    });
</script>